<% include ./partials/header %>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <center>
                        <img src="<%= wf.user.avatar %>" alt="..." class="rounded border border-success" style="height: 20rem;width: 20rem;">
                        <h1><%= wf.user.firstName + " " + wf.user.lastName %></h1>
                    </center>
                </div>
                <div class="col-6">
                    <div class="card text-white text-center bg-danger mb-3" style="max-width: 38rem;height: 20rem;">
                        <div class="card-header"><h4><%= wf.title %></h4></div>
                        <div class="card-body">
                            <h5 class="card-title"><%= wf.objective %></h5>
                            <p class="card-text"><a class="btn btn-lg btn-warning m-2" href="<%= wf.linkdn %>"><i class="fab fa-linkedin"></i></a><a class="btn btn-lg btn-warning m-2" href="<%= wf.git %>"><i class="fab fa-github"></i></a></p>
                        </div>
                    </div>
                    <h3></h3>
                </div>
            </div>  
        </div>
        </div>
        <div class="jumbotron text-center">
            <h1 class="display-4">Education</h1>
            <hr class="bg-danger">
            <div class="d-flex flex-row">
                    <% wf.education.forEach(function(eduDets){ %>
                    <div class="card border-danger mx-3 text-center" style="width: 30rem;">
                        <div class="card-header"><%=eduDets.name%></div>
                        <div class="card-body text-danger">
                            <% if(eduDets.isCurr){ %>
                            <h5 class="card-title">Start Date : <%=eduDets.stDate%></h5>
                            <% }else{ %>
                            <p class="card-title">Start Date : <%=eduDets.stDate%></p>
                            <p class="card-title">End Date :<%=eduDets.eDate%></p>
                            <% } %>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="card-text">MAJOR : <%=eduDets.major%></h6>
                                </div>
                                <div class="col-12">
                                    <% if(!eduDets.isCurr){ %>
                                    <h6 class="card-text">GPA :<%=eduDets.gpa%></h6>
                                    <% } %>
                                </div>
                            </div>
                            <hr class="bg-danger">
                            <div class="d-flex flex-row justify-content-center">
                            <% eduDets.courses.forEach(function(cname){%>
                                <div><span class="badge badge-warning mx-2 my-1"><%=cname%></span></div> 
                            <%})%>
                            </div>
                            <div class = "d-flex flex-row justify-content-center">
                                <a class="btn btn-xs btn-success m-2" href="#"><i class="fas fa-edit"></i></a>
                                <form class="delete-form m-2" action="/#/?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% })%>
            </div>
            <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
            <hr class="my-4 bg-danger">
            <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
            <a class="btn btn-primary btn-lg" href="/createEducation/<%=wf._id%>" role="button">Add More</a>
        </div>

        <div class="jumbotron text-center">
            <h1 class="display-4">Work Experience</h1>
            <hr class="bg-danger">
            <div class="d-flex flex-row">
                <% wf.workExp.forEach(function(workExpDets){ %>
                <div class="card border-danger mx-3 text-center" style="width: 30rem;">
                    <div class="card-header"><%=workExpDets.name%></div>
                    <div class="card-body text-danger">
                        <% if(workExpDets.isCurr){ %>
                        <h5 class="card-title">Start Date : <%=workExpDets.stDate%></h5>
                        <% }else{ %>
                        <p class="card-title">Start Date : <%=workExpDets.stDate%></p>
                        <p class="card-title">End Date :<%=workExpDets.eDate%></p>
                        <% } %>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="card-text">Title : <%=workExpDets.jobTitle %></h6>
                            </div>
                            <div class="col-12">       
                                <h6 class="card-text">Desc :<%=workExpDets.jDesc.jobDesc%></h6>
                            </div>
                        </div>
                        <hr class="bg-danger">
                        <div class="d-flex flex-row justify-content-center">
                        <% workExpDets.jDesc.techUsed.forEach(function(tname){%>
                            <div><span class="badge badge-warning mx-2 my-1"><%=tname%></span></div> 
                        <%})%>
                        </div>
                        <div class = "d-flex flex-row justify-content-center">
                            <a class="btn btn-xs btn-success m-2" href="#"><i class="fas fa-edit"></i></a>
                            <form class="delete-form m-2" action="/#/?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <% })%>
            </div>
            <hr class="bg-danger">
            <a class="btn btn-primary btn-lg" href="#" role="button">Add More</a>
        </div>
    
        <div class="jumbotron">
            <h1 class="display-4">Technical Proficiency</h1>
            <hr class="bg-danger">
            
            <div class="d-flex flex-row">
                <div class="col-5">
                    
                    <div class="card border-danger mb-3" style="max-width: 18rem;">
                        <div class="card-body text-danger">
                            <% wf.tSkills.forEach(function(techSkill){ %>
                                <div><span class="badge badge-warning mx-2 my-1"><%= techSkill.name %></span></div> 
                            <% }) %>
                        </div>
                    </div>
                    
                </div>
                <div class="col-7">
                    <canvas id="graph" width="400" height="300" style="border:1px solid #000000;"></canvas>
                    <script>
                        var data = []
                        <% wf.tSkills.forEach(function(skill){ %>
                            data.push({name: "<%= skill.name %>", level: "<%=skill.level%>"})   
                        <% }) %> 
                        
                        

                        var colors = ["#8B0000", "#FF8C00", "#FFFF00", "#6B8E23" ,
                        "#008B8B" ,"#483D8B" ,"#4B0082" ,"#C71585" ,"#FFE4E1" ,"#2F4F4F"]
                        w = 400;
                        h = 300;

                        xAxisLength=w-50;
                        yAxisHeight=h-50;
                        xAxisOffset = 25;
                        yAxisOffset = 25;
                        var graph = document.getElementById("graph").getContext("2d");
                        function plotBar(x, y, H, c)
                        {


                        graph.fillStyle = c;

                        graph.fillRect(x, h-y, 20, H);
                        }

                        function drawAxes()
                        {
                        //Y-Axis
                        graph.fillRect(xAxisOffset,yAxisOffset, 2, h-2*yAxisOffset);
                        //X-Axis
                        graph.fillRect(xAxisOffset,h-yAxisOffset, w-2*xAxisOffset, 2);

                        graph.font = "18px Arial";


                        scaleY = (h-2*yAxisOffset)/10;
                        i=1;
                        for(i=0;i<11;i++)
                        {
                            graph.fillRect(xAxisOffset-8, h-(yAxisOffset+(i*scaleY)), 8, 2)
                            graph.fillText(i, xAxisOffset-20, h-(yAxisOffset+(i*scaleY)-5));
                        }

                        scale = (w-2*xAxisOffset)/(data.length+1);
                        graph.font = "10px Arial";
                        for(i=1;i<data.length+1;i++)
                        {
                            graph.fillStyle = "#000000";
                            graph.fillRect(xAxisOffset+i*scale, h-yAxisOffset, 2, 8);
                            graph.fillText(data[i-1].name, xAxisOffset+i*scale-(2*(data[i-1].name).length), h-(yAxisOffset-20));
                            plotBar((xAxisOffset+i*scale)-10, (yAxisOffset+scaleY*data[i-1].level), (scaleY*data[i-1].level), colors[i-1]);
                        }

                        }
                        drawAxes();

                    </script>
                </div>
            </div>
            <a class="btn btn-primary btn-lg" href="#" role="button">Add more</a>
        </div>

        <div class="jumbotron">
            <h1 class="display-4">Projects</h1>
            <hr class="bg-danger">
            <% wf.project.forEach(function(projectDets){ %>
                <div class="card border-danger mx-3 text-center" style="width: 30rem;">
                        <div class="card-header"><%=projectDets.name%></div>
                        <div class="card-body text-danger">
                           
                            <p class="card-title">Start Date : <%=projectDets.stDate%></p>
                            <p class="card-title">End Date :<%=projectDets.eDate%></p>
                           
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="card-text">Desc : <%=projectDets.desc %></h6>
                                </div>
                                <%if(!projectDets.link){%>
                                <div class="col-12">       
                                    <a href=":<%=projectDets.link%>"class="card-text">Link</a>
                                </div>
                                <%} %>
                            </div>
                            <hr class="bg-danger">
                            <div class = "d-flex flex-row justify-content-center">
                                <a class="btn btn-xs btn-success m-2" href="#"><i class="fas fa-edit"></i></a>
                                <form class="delete-form m-2" action="/#/?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
            <% }) %>
            <hr class="bg-danger">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
            
        
</div>
<% include ./partials/footer %>