<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;" class="bg-dark">
            <h1 class="text-center text-light">Education Data</h1>
            <form action="/api/education/<%= wfID %>/<%= eduID% %>?_method=PUT" method="POST">
                <div class="form-group mx-1">
                    <input class="form-control" type="text" name="name" value="<%= eduDets.name %>" required>
                </div>
                <div class="form-group mx-1">
                    <input class="form-control" type="text" name="stDate" value="<%= eduDets.stDate %>" required>
                </div>
                <div class="form-group mx-1">
                    <input class="form-control" type="text" name="eDate" value="<%= eduDets.eDate %>" required>
                </div>
                <div class="form-group mx-1">
                    <input class="form-control" type="text" name="isCurr" value="<%= eduDets.isCurr %>" required>
                </div>
                <div class="form-group mx-1">
                    <input class="form-control" type="text" name="major" value="<%= eduDets.major %>" required>
                </div>
                <div class="form-group mx-1">
                    <input class="form-control" type="text" name="gpa" value="<%= eduDets.gpa %>">
                </div>
                <div class="form-group mx-1">
                    <input class="form-control" type="text" name="courses" value="<%= eduDets.gpa %>">
                </div>
                
                <div class="form-group mx-1">
                    <button class="btn btn-lg btn-success btn-block">Update Education!</button>
                </div>
            </form>
            <a href="/" class="btn btn-lg btn-danger btn-block">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/header %>